@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
ol,
ul,
li {
    list-style: none;
}
h3 {
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.wrapper {
    height: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #183748;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #171a21;
    display: flex;
    margin-bottom: 30px;
}
.header_row {
    display: flex;
    align-items: center;
    margin-right: 69px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.dowlond {
    width: 135px;
    background-color: #516e0e;
    padding: 5px;
    color: #fff;
}
.navigate {
    width: 950px;
    margin: 0 auto;
    padding: 6px;
    display: flex;
    align-items: center;
    background-color: #244b8a;
}
input {
    border: none;
    height: 26px;
    background-color: transparent;
    text-align: center;
}
.header_nav {
    display: flex;
    align-items: center;
}
.nav_link {
    margin-right: 15px;
}
.Navlink {
    margin-right: 30px;
    font-weight: 200;
}
.main {
    flex: 1 1 auto;
    background-color: #183748;
}
.slider_img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}
.text {
    display: flex;
    border: 1px solid #244b8a;
    background-color: #183748;
}
.search_btn {
    width: 26px;
    height: 26px;
    background-color: #549cc8;
}
.margin {
    margin: 50px 0;
}
.footer {
    background-color: #183748;
}

/* slider */

.cards {
    display: flex;
}
.card {
    width: 390px;
    height: 500px;
    box-shadow: -4px 9px 60px 40px rgba(34, 60, 80, 0.36);
}
.card:not(:last-child) {
    margin-right: 11px;
}
.cart_img {
    height: 310px;
    width: 100%;
}
.cart-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_title {
    background-color: #22749a;
    height: 140px;
    padding: 15px;
}
.cart-title {
    width: 110px;
    height: 33px;
    background: linear-gradient(
        291deg,
        rgba(0, 0, 0, 1) 53%,
        rgba(81, 110, 14, 1) 54%
    );
    border: 5px solid #22749a;
    margin: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    transition: 0.5s all ease;
}
.cart-title:hover {
    border: none;
}
.card_title h2,
p {
    padding: 5px;
}
.p {
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    color: #82a08e;
}
.h3 {
    padding-top: 20px;
}
.categoty-cart {
    width: 224px;
    height: 224px;
}
.category_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
